/* Table */
        body {
            font-family: 'Mali', cursive; 
            font-weight: bold;
            background-color: rgb(228, 226, 226);
        }
        h1 {
            color: white;
            text-align: center;
            text-shadow: 0px 1px 5px white;
            cursor: none;
            margin-top: 330px;


        }
        h1::selection {
            background-color: none;
            
        }
        a {
            color: white
        }
        a:hover {
            text-decoration: none;
        }
        .container {
            /* margin: 0% 0% 0% 0%; */
            width: 100%; height: 100vh;
            
            position: absolute;
            z-index: 90;
            overflow-y: scroll;

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .container::-webkit-scrollbar {
            width: 10px;
            background: linear-gradient(#00f260,#0575e6); 
        }
        .container::-webkit-scrollbar-thumb {
            background: linear-gradient(#00f260, rgb(171, 212, 94), #0575e6);
            border-radius: 10px;
        }
        table {
            width: 500px; height: 100vh; max-height: 50vh;
            padding: 5px;
            
            text-align: center;
            color: white;
            font-size: 18px;
        }

        tr {
            background-color: rgb(144, 144, 151);
        }

        tr:hover {
            background-color: rgb(212, 152, 152) !important;
        }

        td:nth-of-type(2), td:nth-of-type(4) {
            cursor: initial
        }
         /* {cursor: initial} */
        td {
            padding: 10px 0px;
            cursor: no-drop;
        }
        td:hover {
            background-color: #ce9448;
        }

        th, td {
            padding: 0px 5px;

           border-radius: 10px;
        }
    /* END */


/* ---- reset ---- */ body{ margin:0; }
 canvas{ display: block; vertical-align: bottom; }
  /* ---- particles.js container ---- */ 
  #particles-js{
       position:absolute; 
       width: 100%; 
       height: 100vh !important; 
       background: linear-gradient(#00f260,#0575e6); 
       background-repeat: no-repeat; 
       background-size: cover; 
       background-position: 50% 50%; 
    }
   /* ---- stats.js ---- */ .count-particles{ background: #4848c9; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden;} .count-particles{ border-radius: 0 0 3px 3px; }